GOOGLE_CLIENT_ID=283113760142-tba9ftfkgs37op4i9h0t07v4b643n9mn.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=283113760142-tba9ftfkgs37op4i9h0t07v4b643n9mn.apps.googleusercontent.com
JWT_SECRET=UG9NTTXigoijb7K6a7eIjZRjS14CzDBjcGXt2chuzQiH8nIvuCtSkVelP8LD
PORT=8787
